<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LIST OF FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">

    <!-- FONT LIST ENDS, CSS LINKED HERE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lists.css') }}">
    <title>Users</title>
</head>
<body>
    <div class="top">
        <h1>✎Users</h1>
        <p><a href="/add_character" class="content">Add Character</a></p>
    </div>
    {% for one_user in all_users %}
    <h2>» <a href="/profile/{{one_user.id}}">{{one_user.username}}</a></h2>
    {% endfor %}
</body>
</html>